:root {
  font-size: min(max(12px, 1vw), 18px);
}

.custom-bg-primary {
  background-color: #0071bb;
}

.custom-bg-primary-light {
  background-color: #2cadee;
  color: whitesmoke;
}

.custom-bg-gradient {
  background-image: linear-gradient(to bottom right, #0071bb, #1484b6);
}

.custom-bg-gradient2 {
  background-image: linear-gradient(to bottom right, #44aff5, #0d7eb7);
  color: white;
}

.custom-text-gradient {
  background: linear-gradient(to right, #0a3a5b, #082e49, #062337);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-text-gradient2 {
  background: linear-gradient(
    to right,
    #fff487,
    #fdeb37,
    #f9ac1b,
    #dbf030,
    #ffdc09
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-text-primary {
  color: #062337;
}

/* 
CUSTOM COLOR RAINBOW
PROTOCOL UICPUX
STYLE FOCUSED - GRADIENT
  - SAFE : GREEN
  - DANGER : RED
  - WARNING : ORANGE
  - IMPORTANT : YELLOW
  - CREATE : BLUE
*/

.sheep {
  height: 5em;
  opacity: 0.5;
  filter: drop-shadow(1em);
}

.sheep:hover {
  opacity: 0.75;
}

.login-background {
  background-image: linear-gradient(to top, #0a4b8495, #0c589c95),
    url("./assets/imgs/background/sti-bg-campus.jpg");
  background-size: cover;
  background-position: center;
}

.back-blur {
  backdrop-filter: blur(5px);
}

.local-campus-bg {
  background-image: url("./assets/imgs/background/sti-bg-campus-2.jpg");
  background-size: cover;
  background-position: center;
}

.login-off-canvas {
  width: 35% !important;
}

.hover-darken:hover {
  background-color: #fff9c3 !important;
}

@media screen and (max-width: 720px) {
  .login-off-canvas {
    width: 100% !important;
  }
  .height-auto {
    height: auto !important;
  }
  .column-flex {
    display: flex;
    flex-direction: column !important;
  }
}

.table.border {
  border: 1px solid black;
}
