.gradient-text-1 {
  background: linear-gradient(
    to right,
    #f97a05,
    #f55d0c,
    #f97a05,
    #e58c02,
    #fe9c02,
    #f97a05
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-background-1 {
  background-image: linear-gradient(
    45deg,
    #083d6d,
    #0a4b84,
    #0c589c,
    #0e65b4,
    #1073cb
  );
  color: white;
}

.solid-background-1 {
  background-image: linear-gradient(180deg, #e58c02, #fe9c02);
  color: #083d6d;
  font-weight: 700;
  filter: drop-shadow(10px);
}
