.gradient-bg-blue {
  background-image: linear-gradient(
    to bottom right,
    #083d6d,
    #0a4b84,
    #0c589c,
    #0e65b4,
    #1073cb
  );
  color: white;
}

.gradient-bg-light-blue {
  background-image: linear-gradient(to bottom right, #44aff5, #0d7eb7);
  color: white;
}

.gradient-bg-yellow {
  background-image: linear-gradient(
    to bottom right,
    #f24a17,
    #f55d0c,
    #f97a05,
    #ffbf00,
    #feca74,
    #ffbf00,
    #f97a05,
    #f55d0c,
    #f24a17
  );
  color: #ffffed;
}

/*
    #005483,
    #007a9a,
    #008da1,
    #00a1a4,
    #00ca9a
  
  */

.custom-text-gradient {
  background: linear-gradient(
    to right,
    #f97a05,
    #f55d0c,
    #f97a05,
    #e58c02,
    #fe9c02,
    #f97a05
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-text-blue {
  color: #0a3463;
}

.custom-text-cyan {
  color: #44aff5;
}

.custom-text-yellow {
  color: #ffd300;
}

.custom-text-cyan:hover,
.custom-text-cyan:focus {
  color: #fff;
}
