/*
GOLD FOR DARK MODE
    #a67c00,
    #bf9b30,
    #ffbf00,
    #ffcf40,
    #ffdc73
  */

.custom-text-gradient {
  background: linear-gradient(
    to right,
    #083d6d,
    #0a4b84,
    #0c589c,
    #0e65b4,
    #1073cb
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-text-gradient-dark {
  background: linear-gradient(
    to right,
    #a67c00,
    #bf9b30,
    #ffbf00,
    #ffcf40,
    #ffdc73
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-text-blue {
  color: #0a3463;
}

.custom-text-cyan {
  color: #44aff5;
}

.custom-text-yellow {
  color: #ffd300;
}

.custom-text-cyan:hover,
.custom-text-cyan:focus {
  color: #fff;
}
