.main-header {
  max-height: 6vh;
  height: 6vh;
  overflow-y: hidden;
}

.main-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 0.5em;
}

.main-content {
  max-height: 94vh;
  height: 94vh;
  overflow-y: hidden;
  padding: 0em 0.5em 0.5em 0.5em;
}
.dashboard-cards {
  height: 25%;
}

.sticky-top {
  z-index: 1;
}

/* 
* {
    outline: red 1px solid;
} */

@media only screen and (width < 1000px) {
  .dashboard-cards {
    height: auto;
  }
}

@media only screen and (width < 500px) {
  .dashboard-cards {
    height: auto;
  }
}
